@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes role-slider {

  0%,
  16.66% {
    transform: translateY(0%);
    color: rgb(124, 198, 223);
  }

  20%,
  36.66% {
    transform: translateY(-20%);
    color: rgb(79, 179, 217);
  }

  40%,
  56.66% {
    transform: translateY(-40%);
    color: rgb(46, 139, 192);
  }

  60%,
  76.66% {
    transform: translateY(-60%);
    color: rgb(26, 95, 158);
  }

  80%,
  96.66% {
    transform: translateY(-80%);
    color: rgb(13, 59, 102);
  }

  100% {
    transform: translateY(0%);
  }
}

.slider-roles {
  animation: role-slider 8s infinite;
  display: block;
}

.slider-window {
  height: 1.2em;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

@keyframes spin_right {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin_left {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.spin-right {
  animation: spin_right 5s linear infinite;
}

.spin-left {
  animation: spin_left 5s linear infinite;
}

.spin-right-fast {
  animation: spin_right 4s linear infinite;
}

@-webkit-keyframes animate-top {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0px;
    opacity: 1
  }
}

@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0px;
    opacity: 1
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    webit-transform: sclae3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    webit-transform: sclae3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.area {
  background: #404040;
  background: -webkit-linear-gradient(to right, #171717, #404040);
  width: 100%;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 14s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration:11s;
}

@keyframes animate{
  0%{
    transform: translatey(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translatey(-1000px) rotate(720deg);
    opacity: 0;
    border-raidus: 50%;
  }
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back{
  transform: rotatex(180deg);
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp  0.6s ease-out forwards;
  opacity: 0;
}

.delay-0 { animation-delay: 0s;}
.delay-200 { animation-delay: 0.2s;}
.delay-400 { animation-delay: 0.4s;}
.delay-600 { animation-delay: 0.6s;}
.delay-800 { animation-delay: 0.8s}
.delay-1000 { animation-delay: 1.0s;}

.delay-100 { animation-delay: 0.1s;}
.delay-300 { animation-delay: 0.3s;}
.delay-500 { animation-delay: 0.5s;}
.delay-700 { animation-delay: 0.7s;}
.delay-900 { animation-delay: 0.9s;}

  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 120px; 
    gap: 1rem;
    grid-auto-flow: dense;
  }

